@import '../../assets/scss/variables';

.lists {
  .list {
    width: 100%;
    transition: 0.3s ease all;
    &__on {
      background-color: $color-base;
      border-bottom: 1px solid $color-secondary;
      transition: 0.6s ease all;
      // ::before {
      //   border: 3px solid blue;
      // }
      // & ~ .list {
      //   border: 3px solid blue;
      //   color: red;
      //   background-color: red;
      // }
      // & + .list {
      //   border: 3px solid blue;
      //   color: red;
      //   background-color: red;
      // }
    }

    // TODO 열려있을때 위아래 border없애는 처리할 것.
    // &:first-of-type {
    //   border: 3px solid blue;
    //   color: red;
    //   background-color: red;
    // }
  }
  .yebor {
    border-bottom: 1px solid $color-secondary;
  }
  .nobor {
    border-bottom: 0 !important;
  }
  .list-menu {
    width: 90%;
    margin: 0 auto;
    padding: 18px 0;
    border-bottom: 1px solid $color-secondary;
    font-weight: 900;
    &__right {
      display: inline-block;
      float: right;
    }
  }
  .list-menu-sub {
    width: 90%;
    margin: 0 auto;
    padding: 15px 0;
    display: none;
    &__title {
      width: 100%;
      display: inline-block;
      margin-bottom: 10px;
      color: $color-primary;
      // color: $color-tertiary;
    }
    &__content {
      width: 100%;
      padding: 10px 0 15px 5px;
      display: inline-block;
      border-bottom: 1px solid $color-secondary;
      // border-radius: 5px;
      i {
        margin-right: 5px;
      }
      &:last-child {
        border: 0;
      }
      &:hover {
        background-color: gainsboro;
      }
    }
  }
  .list-count {
    background-color: $color-tertiary;
    color: white;
    font-weight: 100;
    padding: 3px 10px;
    border-radius: 30px;
    margin-right: 10px;
  }
  .list-toggle {
    padding: 15px 0;
  }
  i.icon-plus-1,
  i.icon-minus-1 {
    color: $color-primary;
  }
}
