@import '../../assets/scss/variables';
@import '../../assets//scss/mixins';

.tags {
  &__header {
    width: 80%;
    height: 10vh;
    min-height: 80px;
    // padding: 1.4em 0px;
    margin: 0 auto;
    margin-top: 5%;
    text-align: center;

    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    // border-bottom: 1px solid gainsboro;

    background-color: $color-primary;
    color: white;
    // @include box-shadow(0px, 2px, 2px, #d6d2d280);
  }

  &__content {
    min-height: 60vh;
    padding: 20px 10px;
    // background-color: $color-base;
    text-align: center;
  }
  &__footer {
    width: 80%;
    margin: 0 auto;
    padding: 5%;
    text-align: center;
    background-color: $color-primary;
    // border-radius: 20px;
    &__btn {
      color: white;
      display: inline-block;
      position: relative;
      top: 30%;
    }
  }
  &__show-tag-title {
    display: inline-block;
    padding: 8px 20px;
    position: relative;
    top: 30%;
    background-color: $color-tertiary;
    color: white;
    border-radius: 18px;
  }
  &__show-tag {
    display: inline-block;
    padding: 8px 5px 8px 13px;
    margin: 3% 3%;
    // margin-bottom: 5%;
    text-align: center;
    background-color: #545354;
    color: white;
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    // border-radius: 18px;
    // transition: width 1.35s linear;
    // -webkit-transition: width 1.35s linear;
    // transition: background-color 1s ease-in-out 0.1s;
    // transition: 0.25s all;

    // 트랜지션속성
    // transition-property trnastion-duration
    // trnasition-time-funciton trnasiton delay

    // &:hover {
    //   background-color: $color-tertiary;
    //   animation: tutsFade 0.25s 0.25s 1 normal backwards;
    //   animation-timing-function: cubic-bezier(
    //     0.215,
    //     0.61,
    //     0.355,
    //     1
    //   );
    // }
  }
}
@keyframes tutsFade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    background-color: slateblue;
  }
}
