// Variables

// Colors
$color-base: #f4f5f9;
$color-primary: #252c41;
$color-secondary: #dddfe6;
$color-tertiary: #f1404b;

$layout-width: 1070px;
$layout-breakpoint-sm: 685px;
$layout-breakpoint-md: 960px;
$layout-breakpoint-lg: 1100px;
